

h1{
    font-family:sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
}

h1{
    font-family:sans-serif;
    letter-spacing: 1px;
}
.services{
    margin: 90px auto;
    text-align: center;
}

h1::after
{
    content:'';
    background:black;
    display: block;
    width: 150px;
    height: 3px;
    margin: 10px auto;
    
}
p{
    text-align: center;
}
